form{
  height: 100px;
  width: 100%;
}
input{
  width: 60%;
}
.delete{
  width: 30px;
  height: 30px;
}
.completed{
  color: green;
  text-decoration: line-through;
  font-size: 1.2rem;
}
.main{
  width: 100vw;
  height: 100vh;
}